<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <h1 class="page-header text-center" translate="admin.sidenav.games.main">Add new game</h1>
        </div>
    </div>
    <div class="alert alert-success" ng-show="success" translate="admin.game.success">
        <strong>Success!</strong> The post has been added.
    </div>
    <div class="alert alert-danger" ng-show="error" translate="admin.game.error">
        <strong>Error!</strong> The post has not been added.
    </div>

    <form role="form" name="form" show-validation ng-submit="addNewGame()">
        <div class="row">
            <div class="col-sm-12">
                <div class="form-group">
                    <label class="control-label" for="gameName" translate="games.game.name">Game Name:</label>
                    <input type="text" ng-model="game.gameName" id="gameName" name="gameName" class="form-control"
                           placeholder="{{'games.game.name.placeholder' | translate}}" required/>
                </div>
                <div class="form-group">
                    <label class="control-label" for="gamePicturePath" translate="games.game.picturePath">Game picture
                        path:</label>
                    <input type="text" name="picturePath" ng-model="game.gamePicture"
                           placeholder="{{'games.game.picturePath.placeholder' |  translate}}" id="gamePicturePath"
                           class="form-control"
                           required/>
                </div>
                <div class="form-group">
                    <label class="control-label" for="gameDescription" translate="games.game.description"> Game
                        description: </label>
                    <input type="text" name="gameDescription" id="gameDescription" ng-model="game.gameDescription"
                           class="form-control"
                           placeholder="{{'games.game.description.placeholder' | translate}}" required/>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title text-center" translate="games.game.minPerform.name">Minimal performance:</h3>
                            </div>
                            <div class="panel-body">
                                <div>
                                    <label translate="games.game.minPerform.processor">Processor:</label>
                                    <input type="text" class="form-control" ng-model="minPerf.proc"/>
                                </div>
                                <div>
                                    <label translate="games.game.minPerform.graphics">Graphics Card:</label>
                                    <input type="text" class="form-control" ng-model="minPerf.graph"/>
                                </div>
                                <div>
                                    <label translate="games.game.minPerform.ram">RAM:</label>
                                    <input type="text" class="form-control" ng-model="minPerf.ram"/>
                                </div>
                                <div>
                                    <label translate="games.game.minPerform.hdd">HDD:</label>
                                    <input type="text" class="form-control" ng-model="minPerf.hdd"/>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title text-center" translate="games.game.optPerform.name">Optimal performance: </h3>
                            </div>
                            <div class="panel-body">
                                <div>
                                    <label translate="games.game.minPerform.processor">Processor:</label>
                                    <input type="text" class="form-control" ng-model="optPerf.proc"/>
                                </div>
                                <div>
                                    <label translate="games.game.minPerform.graphics">Graphics Card:</label>
                                    <input type="text" class="form-control" ng-model="optPerf.graph"/>
                                </div>
                                <div>
                                    <label translate="games.game.minPerform.ram">RAM:</label>
                                    <input type="text" class="form-control" ng-model="optPerf.ram"/>
                                </div>
                                <div>
                                    <label translate="games.game.minPerform.hdd">HDD:</label>
                                    <input type="text" class="form-control" ng-model="optPerf.hdd"/>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-sm-3">
                            <label class="control-label" for="releaseYear" translate="games.game.releaseYear">Game release year:</label>
                            <input date-time class="form-control" id="releaseYear" name="releaseYear"
                                   placeholder="{{'games.game.releaseYear.placeholder' | translate}}" format="YYYY"
                                   ng-model="game.gameReleaseYear" required>
                        </div>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary">
                    <span translate="games.game.insert" ng-disabled="form.$invalid">Insert game</span>
                </button>
            </div>
        </div>
    </form>


    <br>
    <hr/>
</div>