<div id="wrapper" style="">

    <!-- Navigation -->

    <sidebar></sidebar>
    <!-- /.navbar-top-links -->


    <!-- /.navbar-static-side -->

    <div id="page-wrapper" style="min-height: 561px;">
        <div ui-view="admin"></div>
    </div>
    <!-- /#page-wrapper -->
</div>


<!--<a href="" ui-sref="admin-news-post"> Posts</a>-->


<script src="app/scripts/sb-admin-2.js"></script>
<link href="css/mainAdmin.css" type="text/css" rel="stylesheet"/>
<link href="css/sb-admin-2.css" type="text/css" rel="stylesheet"/>
<link href="css/timeline.css" type="text/css" rel="stylesheet"/>