<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <h2 translate="userManagement.home.title">Users</h2>
            <h3>Generate a user report! <button class="btn btn-default" ng-click="generateReport()">Generate</button> </h3>
            <table st-table="displayedUsers" st-safe-src="userList" class="table table-hover table-stripped">
                <thead>
                <tr>
                    <th>Id</th>
                    <th translate="userManagement.username">Username</th>
                    <th translate="userManagement.email">Email</th>
                    <th translate="userManagement.firstName">First Name</th>
                    <th translate="userManagement.lastName">Last Name</th>
                    <th translate="userManagement.seller">Seller</th>
                    <th translate="userManagement.admin">Admin</th>
                    <th translate="userManagement.delete">Delete</th>
                </tr>
                <!--  <tr>
                      <th>
                          <input st-search="" placeholder="Global search..." class="input-sm form-control"/>
                      </th>
                  </tr>-->
                </thead>
                <tbody>
                <tr ng-repeat="user in displayedUsers" class="">
                    <td>{{user.userId}}</td>
                    <td>{{user.username}}</td>
                    <td>{{user.email}}</td>
                    <td>{{user.firstName}}</td>
                    <td>{{user.lastName}}</td>
                    <td><input type="checkbox"
                               ng-model="user.isSeller"
                               ng-change="makeSeller(user)"
                               ng-checked="user.role == 'ROLE_SELLER'"/>

                    </td>
                    <td><input type="checkbox"
                               ng-model="user.isAdmin"
                               ng-change="makeAdmin(user)"
                               ng-checked="user.role == 'ROLE_ADMIN'"/>

                    </td>
                    <td>
                        <button class="btn btn-danger" ng-click="deleteUser(user)">Delete</button>
                    </td>
                </tr>
                </tbody>
                <tfoot>
                <tr>
                    <td colspan="6" class="text-center">
                        <div st-pagination="" st-items-by-page="itemsByPage" st-displayed-pages="5"></div>
                    </td>
                </tr>
                </tfoot>

            </table>
        </div>
    </div>
</div>