<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h1 class="page-header text-center">{{game.gameName}} - <span translate="games.game.grade">Grade</span>:
                {{game.gameGradeSum}}</h1>
            <div class="row">
                <div class="col-sm-5">
                    <h1 class="text-center"><img ng-src="{{game.gamePicture}}" class="img-responsive"/></h1>
                </div>
                <div class="col-sm-7">
                    <h2 translate="games.game.description" class="text-center">Game Description</h2>
                    <h4 class="text-center gameDescription" style="text-align: justify;">{{game.gameDescription}}</h4>
                </div>
            </div>
            <div ng-show="authenticated">
                <span uib-rating ng-model="userRating" disabled="isReadOnly" ng-change="updateRating(game.gameId)"
                      max="max" read-only="isReadonly" on-hover="hoveringOver(value)" on-leave="overStar = null"
                      titles="['one','two','three']" aria-labelledby="default-rating"></span>
                <span class="label"
                      ng-class="{'label-warning': percent<30, 'label-info': percent>=30 && percent<70, 'label-success': percent>=70}"
                      ng-show="overStar && !isReadonly">{{percent}}%</span>
            </div>
            <div ng-hide="authenticated">
                <h4 translate="games.game.rateLogIn">You need to be logged in to rate the game</h4>
            </div>

            <h2><span translate="games.game.releasedBy">Released By</span> <span
                    ng-repeat="company in game.gameCompanies">{{company.companyName}} </span></h2>
            <h4><span translate="games.game.releaseYear"></span> {{game.gameReleaseYear | date}}</h4>
            <div class="row">
                <div class="col-sm-6" ng-show="game.gameMinimalPerformance">
                    <h3 translate="games.game.minPerform.name" class="text-center">Minimum Requirements</h3>
                    <table class="table table-bordered table-responsive table-hover">
                        <tbody>
                        <tr>
                            <th translate="games.game.minPerform.processor">Processor:</th>
                            <td>{{minPerf[0]}}</td>
                        </tr>
                        <tr>
                            <th translate="games.game.minPerform.graphics">Graphics Card:</th>
                            <td>{{minPerf[1]}}</td>
                        </tr>
                        <tr>
                            <th translate="games.game.minPerform.ram">RAM:</th>
                            <td>{{minPerf[2]}}</td>
                        </tr>
                        <tr>
                            <th translate="games.game.minPerform.hdd">HDD:</th>
                            <td>{{minPerf[3]}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-sm-6" ng-show="game.gameOptimalPerformance">
                    <h3 translate="games.game.optPerform.name" class="text-center">Recommended Requirements</h3>
                    <table class="table table-bordered table-responsive table-hover">
                        <tbody>
                        <tr>
                            <th translate="games.game.minPerform.processor">Processor:</th>
                            <td>{{optPerf[0]}}</td>
                        </tr>
                        <tr>
                            <th translate="games.game.minPerform.graphics">Graphics Card:</th>
                            <td>{{optPerf[1]}}</td>
                        </tr>
                        <tr>
                            <th translate="games.game.minPerform.ram">RAM:</th>
                            <td>{{optPerf[2]}}</td>
                        </tr>
                        <tr>
                            <th translate="games.game.minPerform.hdd">HDD:</th>
                            <td>{{optPerf[3]}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <div class="well">
                <h4 ng-show="loggedInUser" class="text-center" translate="games.game.leaveAComment">Leave a
                    Comment:</h4>
                <h4 ng-hide="loggedInUser" translate="games.game.loginToComment">You must be logged in to comment</h4>
                <form role="form" ng-submit="addComment()">
                    <div class="form-group">
                        <textarea rows="4" class="form-control" placeholder="{{'games.game.commentText' | translate}}"
                                  name="commentText" ng-disabled="!loggedInUser" ng-model="comment.commentText"/>
                    </div>
                    <button type="submit" class="btn btn-primary" ng-disabled="!loggedInUser"
                            translate="games.game.postCommentButton">Submit
                    </button>
                </form>
            </div>

            <hr>

            <div class="row" ng-repeat="comment in game.comments">
                <div class="col-sm-12">
                    <div class="media">
                        <div class="media-left media-middle">
                            <a href="">
                                <img class="media-object" class="img-responsive" width="128px" height="128px"
                                     data-ng-src="data:image/PNG;base64,{{comment.userId.userProfileImageToString}}">
                            </a>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">{{comment.userId.username}}
                                <small>
                                    {{comment.commentDate.dayOfMonth}}-{{comment.commentDate.month}}-{{comment.commentDate.year}}
                                    {{comment.commentDate.hour}}:{{comment.commentDate.minute}}
                                </small>
                            </h4>
                            {{comment.commentText}}
                        </div>
                    </div>
                    <hr/>
                </div>
            </div>
        </div>
    </div>
</div>

