<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h1 class="page-header text-center">{{game.gameName}} - <span translate="games.game.grade">Grade</span>: {{game.gameGradeSum}}</h1>
            <div class="row">
                <div class="col-sm-5">
                    <h1 class="text-center"><img ng-src="{{game.gamePicture}}" class="img-responsive"/></h1>
                </div>
                <div class="col-sm-7">
                    <h2 translate="games.game.description" class="text-center">Game Description</h2>
                    <h4 class="text-center gameDescription">{{game.gameDescription}}</h4>
                </div>
            </div>

            <h2><span translate="games.game.releasedBy">Released By</span> <span ng-repeat="company in game.gameCompanies">{{company.companyName}} </span></h2>
            <h4><span translate="games.game.releaseYear"></span> {{game.gameReleaseYear | date}}</h4>
            <div class="row">
                <div class="col-sm-6" ng-show="game.gameMinimalPerformance">
                    <h2 translate="games.game.minPerform" class="text-center">Minimum Requirements</h2>
                </div>
                <div class="col-sm-6" ng-show="game.gameOptimalPerformance">
                    <h2 translate="games.game.optPerform" class="text-center">Recommended Requirements</h2>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <!-- Blog Comments -->

            <!-- Comments Form -->
            <div class="well">
                <h4>Leave a Comment:</h4>
                <form role="form" ng-submit="addComment()">
                    <div class="form-group">
                        <input type="text" class="form-control" name="commentText" ng-model="comment.commentText"/>
                        <span>{{comment.commentText}}</span>
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>

            <hr>

            <!-- Posted Comments -->

            <!-- Comment -->
            <div class="media">
                <a class="pull-left" href="#">
                    <img class="media-object" src="http://placehold.it/64x64" alt="">
                </a>
                <div class="media-body">
                    <h4 class="media-heading">Start Bootstrap
                        <small>August 25, 2014 at 9:30 PM</small>
                    </h4>
                    Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
                </div>
            </div>

            <!-- Comment -->
            <div class="media">
                <a class="pull-left" href="#">
                    <img class="media-object" src="http://placehold.it/64x64" alt="">
                </a>
                <div class="media-body">
                    <h4 class="media-heading">Start Bootstrap
                        <small>August 25, 2014 at 9:30 PM</small>
                    </h4>
                    Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.

                </div>
            </div>

        </div>
        </div>
    </div>
</div>
