<div class="container">
    <div class="row">
        <div class="col-sm-12">
                <h1 class="page-header" translate="games.header">Games</h1>
        </div>
    </div>
    <div class="row">
        <div infinite-scroll="gameList.nextPage()" infinite-scroll-disabled="gameList.busy" infinite-scroll-distance="0">
            <div class="col-sm-6 col-md-4" ng-repeat="game in gameList.items">
                <div class="thumbnail" style="min-height: 370px; height: 370px;">
                    <!--<img ng-src="{{game.gamePicture}}" class="img-responsive"/>-->
                    <img ng-src="{{game.gamePicture}} " style="min-height: 200px; height: 200px;" class="">
                    <div class="caption">
                        <h4 class="text-center">{{game.gameName}}</h4>
                        <div class="gameDescription"> {{game.gameDescription | limitTo : 130 : 0}}...</div>
                        <!--<br/>-->
                        <div>
                            <a href="" ng-click="viewGame(game.gameId)" class="btn btn-primary" role="button">
                                <span translate="games.viewGame">View Game</span></a>
                            <span class="pull-right"><i class="fa fa-eye"></i>{{game.gameNumberOfViews}}</span>
                        </div>
                    </div>
                </div>
            </div>
            <div style='clear: both;'></div>
        </div>
    </div>
</div>