<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h1 class="page-header text-center">{{game.gameName}} - <span translate="games.game.grade">Grade</span>:
                {{game.gameGradeSum}}</h1>
            <div class="row">
                <div class="col-sm-5">
                    <h1 class="text-center"><img ng-src="{{game.gamePicture}}" class="img-responsive"/></h1>
                </div>
                <div class="col-sm-7">
                    <h2 translate="games.game.description" class="text-center">Game Description</h2>
                    <h4 class="text-center gameDescription">{{game.gameDescription}}</h4>
                </div>
            </div>

            <h2><span translate="games.game.releasedBy">Released By</span> <span
                    ng-repeat="company in game.gameCompanies">{{company.companyName}} </span></h2>
            <h4><span translate="games.game.releaseYear"></span> {{game.gameReleaseYear | date}}</h4>
            <div class="row">
                <div class="col-sm-6" ng-show="game.gameMinimalPerformance">
                    <h2 translate="games.game.minPerform" class="text-center">Minimum Requirements</h2>
                </div>
                <div class="col-sm-6" ng-show="game.gameOptimalPerformance">
                    <h2 translate="games.game.optPerform" class="text-center">Recommended Requirements</h2>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <div class="well">
                <h4 ng-show="loggedInUser" class="text-center" translate="games.game.leaveAComment">Leave a
                    Comment:</h4>
                <h4 ng-hide="loggedInUser" translate="games.game.loginToComment">You must be logged in to comment</h4>
                <form role="form" ng-submit="addComment()">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="{{'games.game.commentText' | translate}}"
                               name="commentText" ng-disabled="!loggedInUser" ng-model="comment.commentText"/>
                    </div>
                    <button type="submit" class="btn btn-primary" ng-disabled="!loggedInUser"
                            translate="games.game.postCommentButton">Submit
                    </button>
                </form>
            </div>

            <hr>

            <div class="row" ng-repeat="comment in game.comments">
                <div class="col-sm-12">
                    <div class="media">
                        <div class="media-left media-middle">
                            <a href="">
                                <img class="media-object" class="img-responsive" width="128px" height="128px"
                                     data-ng-src="data:image/PNG;base64,{{comment.userId.userProfileImageToString}}">
                            </a>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">{{comment.userId.username}}
                                <small>
                                    {{comment.commentDate.dayOfMonth}}-{{comment.commentDate.month}}-{{comment.commentDate.year}}
                                    {{comment.commentDate.hour}}:{{comment.commentDate.minute}}
                                </small>
                            </h4>
                            {{comment.commentText}}
                        </div>
                    </div>
                    <hr/>
                </div>
            </div>
        </div>
    </div>
</div>

