<div class="container-fluid">
    <div class="fullscreen-bg">
        <video autoplay loop="loop" poster="images/bgImg.jpg" id="bgvid">
            <source src="images/bgImg.webm" type="video/webm">
            <source src="images/bgImg.mp4" type="video/mp4">
        </video>
        <!--[if lt IE 9]>
        <script>
            document.createElement('video');
        </script>
        <![endif]-->
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div ng-show="authenticated">raboti</div>
        </div>
    </div>
</div>
<script src="app/scripts/navbar-hide-home.js"></script>
<link href="css/home-page.css" type="text/css" rel="stylesheet"/>