<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h1 class="page-header" translate="search.header">Search Results</h1>
        </div>
    </div>
    <div class="row" ng-show="noData">
        <div class="col-sm-12">
            <div class="alert alert-info">
                <span translate="search.messages.noData">The search operation did not produce any results</span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4" ng-repeat="game in resultList">
                <div class="thumbnail" style="min-height: 370px; height: 370px;">
                    <img ng-src="{{game.gamePicture}} " style="min-height: 200px; height: 200px;" class="">
                    <div class="caption">
                        <h3 class="text-center">{{game.gameName}}</h3>
                        <div class="gameDescription"> {{game.gameDescription | limitTo : 130 : 0}}...</div>
                        <div>
                            <a href="" ng-click="viewGame(game.gameId)" class="btn btn-primary" role="button">
                                <span translate="search.viewGame">View Game</span></a>
                            <span class="pull-right"><i class="fa fa-eye"></i>{{game.gameNumberOfViews}}</span>
                        </div>
                    </div>
                </div>
            <div style='clear: both;'></div>
        </div>
    </div>
</div>