
<div class="container settings-content">
    <div class="row">
        <div class="col-md-6">
            <h2 translate="settings.title">User settings for <b>{{settingsAccount.username}}</b></h2>
            <br><br>
            <div class="alert alert-success settings-tools" ng-show="success" translate="settings.messages.success">
                <strong>Settings saved!</strong>
            </div>
            <div class="alert alert-danger settings-tools" ng-show="error" translate="settings.messages.error.fail">
                <strong>An error has occurred!</strong> Settings could not be saved.
            </div>
            <div class="alert alert-danger settings-tools" ng-show="errorEmailExists" translate="settigns.messages.error.emailexists">
                <strong>E-mail is already in use!</strong> Please choose another one.
            </div>
            <form name="form" role="form" show-validation novalidate ng-submit="submit()" >
                <div class="form-group text-center">
                    <h4>Change your profile image</h4>
                    <div class="text-center"><img data-ng-src="data:image/PNG;base64,{{settingsAccount.profileImage}}"  style="width:468px;height:300px"></div>
                    <div class="text-center"> <input type="file" ngf-select file-model="file" ng-model="file" name="file"
                           ngf-pattern=".png,.jpg"
                           accept="image/*" ngf-model-invalid="errorFiles"
                           ngf-resize="{width: 468, height: 300}" ngf-max-size="5MB"></div>

                    </input>
                    <p class="help-block"
                       ng-show="form.file.$error.pattern" translate="settings.messages.validate.image.requiredInput">
                        Your account picture can only contain JPG and PNG images
                    </p>
                </div>
                <div class="form-group">
                    <label class="control-label" for="firstName" translate="settings.form.firstname">First Name</label>
                    <input type="text" class="form-control" id="firstName" name="firstName"
                           placeholder="{{'settings.form.firstname.placeholder' | translate}}"
                           ng-model="settingsAccount.firstName" ng-minlength=1 ng-maxlength=50 required maxlength="50">
                    <div ng-show="form.firstName.$dirty && form.firstName.$invalid">
                        <p class="help-block"
                           ng-show="form.firstName.$error.required">
                            <span translate="settings.messages.validate.firstname.required">Your first name is required.</span>
                        </p>
                        <p class="help-block"
                           ng-show="form.firstName.$error.minlength">
                            <span translate="settings.messages.validate.firstname.minlength">Your first name is required to be at least 1 character.</span>
                        </p>
                        <p class="help-block"
                           ng-show="form.firstName.$error.maxlength">
                            <span translate="settings.messages.validate.firstname.maxlength">Your first name cannot be longer than 50 characters.</span>
                        </p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="lastName" translate="settings.form.lastname">Last Name</label>
                    <input type="text" class="form-control" id="lastName" name="lastName" placeholder="{{'settings.form.lastname.placeholder' | translate}}"
                           ng-model="settingsAccount.lastName" ng-minlength=1 ng-maxlength=50 required maxlength="50">
                    <div ng-show="form.lastName.$dirty && form.lastName.$invalid">
                        <p class="help-block"
                           ng-show="form.lastName.$error.required">
                             <span translate="settings.messages.validate.lastname.required">Your last name is required.</span>
                        </p>
                        <p class="help-block"
                           ng-show="form.lastName.$error.minlength">
                            <span translate="settings.messages.validate.lastname.minlength">Your last name is required to be at least 1 character.</span>
                        </p>
                        <p class="help-block"
                           ng-show="form.lastName.$error.maxlength">
                            <span translate="settings.messages.validate.lastname.maxlength">Your last name cannot be longer than 50 characters.</span>
                        </p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="email" translate="settings.form.email">E-mail</label>
                    <input type="email" class="form-control" id="email" name="email" placeholder="{{'settings.form.email.placeholder' | translate}}"
                           ng-model="settingsAccount.email" ng-minlength=5 ng-maxlength=100 disabled maxlength="100"/>
                </div>

                <button type="submit" ng-disabled="form.$invalid" class="btn btn-primary" translate="settings.form.button">Save</button>
            </form>
        </div>

        <div class="col-md-6" >
            <h2 translate="settings.map.title" class="text-center">User login locations history</h2>
            <br><br>
            <div class="text-center" id="map" style="width:500px;height:380px;"></div>
            <br><br>
            <div class="text-center"><button type="button" class="btn btn-warning btn-lg" translate="settings.map.buttonDelete" ng-click="deleteLocations()">Delete all your locations?</button></div>
        </div>
    </div>
</div>
