<div class="container">
    <div class="row">
        <div class="col-lg-8">
            <h1>{{newsPost.postTitle}}</h1>
            <div> <span>Tags</span>
                <span ng-repeat="tag in newsPost.tags">
                  <button class="btn btn-link" ng-click="searchNewsByTag(tag.tagName)">{{tag.tagName}}</button>
                </span>
            </div>
            <hr>
            <!-- Date/Time -->
            <p>Posted on {{newsPost.postAddDate.dayOfMonth}}-{{newsPost.postAddDate.monthValue}}-{{newsPost.postAddDate.year}}
                {{newsPost.postAddDate.hour}}:{{newsPost.postAddDate.minute}}</p>
            <hr>
            <!-- Preview Image -->
            <img class="img-responsive" ng-src="{{newsPost.publishedPicturePath}}" alt="">
            <hr>
            <!-- Post Content -->
            <div ta-bind ng-model="newsPost.postDescription"></div>
        </div>
    </div>
    <!-- /.row -->
    <hr>
</div>
<!-- /.container -->