/*.ng-scope {
    border: 1px solid black;
}*/

@font-face {
    font-family: Roboto;
    src: url('../fonts/roboto/Roboto-Medium.ttf');
}

body {
    font-family: 'Roboto', sans-serif;
    padding-top: 70px;
    margin-bottom: 50px;
}

@media screen and (min-device-width: 992px) {
    body {
        padding-top: 70px;
    }
}

#navbar {
    background-color: #2f4050;
    border-color: transparent;
}

#navbar.navbar-default .navbar-brand {
    color: #fff;
}

#navbar.navbar-default .navbar-nav > li > a {
    color: #fff;
}

#navbar.navbar-default .navbar-nav > .open > a {
    background-color: #32a1cf;
}

#navbar.navbar-default .navbar-nav .active a {
    background-color: #32a1cf;
}

#navbar a:hover {
    background: #32a1cf;
}

.social-buttons{
    margin:12px 0
}

.social-buttons button{
    width: 35%;
}

.social-buttons .row{
    padding-bottom: 10px;
}

.gameDescription {
    word-wrap: break-word;
    text-align: justify;
}

#map {
    height: 100%;
}

#footer{
    position:fixed;
    height:50px;
    /*background-color:red;*/
    bottom:0px;
    left:0px;
    right:0px;
    margin-bottom:0px;
}
textarea {
    resize: none;
}

